<% content_for :title do %>
  <title>Gema de Rus - Consultoría en marketing online y ecommerce</title>
<% end %>

<div class="container">
<section class="claim plain">
  <h1>Ooops, esto ni siquiera está en Internet!</h1>
</section>
</div>
