<% content_for :title do %>
  <title>Gema de Rus - Frontend Devoloper Freelance</title>
<% end %>

<section class="About">
  <div class="Container Container--small">
    <img class="Avatar" src="images/profile.jpg">

    <div class="Content-about">
      
      <h3 class="Lead">Hi, I'm Gema. </h3>


      <p class="mb3">I'm a frontend developer freelancer from Málaga, Spain. I'm fluent in HTML, CSS, and English, and obsessive about standards. I'm working remotely on projects for clients everywhere and I am available for medium size projects, and develop with passionate product teams across the globe. You can <a href="mailto:hi@gemaderus.com">hire me</a>.</p>

      
      <p class="mb3">Follow me on <a href="http://codepen.io/gemaderus" class="About-link">CodePen</a>, <a href="https://github.com/gemaderus" class="About-link">GitHub</a> and <a href="https://twitter.com/gemaderus" class="About-link">Twitter</a> or contact me at <a href="mailto:hi@gemaderus.com">hi@gemaderus.com</a>.</p>
      
    </div>
    <div class="Resume-link mb3">
      <a href="/resume">Resume</a>
    </div>
    <div class="Copy">&copy; gemaderus 2016</div>
  </div>
</section>