<% content_for :title do %>
  <title>Gema de Rus - Frontend Devoloper Freelance</title>
<% end %>

<div class="Content-project">
  <div class="Container">
    <div class="Projects-intro">
      <h2 class="Projects-intro-tittle">
        <a href="https://atyourservice.bemate.com/">Service hub</a>
      </h2>
      <p class="mb3">Webpage for <a href="">Be Mate</a> where you can hire the additional services offered by Be Mate once you have booked your apartment.</p>
      <p>In this project, I was in charge to the html, css3, sass and javascript. It was build with ruby enviroment.</p>
    </div>
    <ul class="Grid-content">
      <li class="Grid-item Grid-item--projects full is-hidden d-visibility">
        <img src="images/bemate1.png" alt="" class="Projects-landing">
      </li>
      <li class="Grid-item Grid-item--projects full visibility d-is-hidden">
        <img src="images/bemate_r.png" alt="" class="Projects-landing align-center-block">
      </li>
      <li class="Grid-item Grid-item--projects full d-two-third">
        <img src="images/bemate_eating.png" alt="" class="Projects-landing">
      </li>
      <li class="Grid-item Grid-item--projects full d-one-third">
        <img src="images/bemate_open.png" alt="" class="Projects-landing">
      </li>
    </ul>
  </div>
</div>

