<% content_for :title do %>
  <title>Gema de Rus - Frontend Devoloper Freelance</title>
<% end %>

<div class="Content-project">
  <div class="Container">
    <div class="Projects-intro">
      <h2>
        <a href="http://colegialesandalucia.com/">Brosmar</a>
      </h2>
      <p class="mb3">The client had an old webpage and they wanted a new webpage totally different. The first was created with a theme and it wasn´t responsive.</p>
      <p>I was in charge to the design and create a mobile first website, using HTML5,Sass and Javascript</p>
    </div>

    <ul class="Grid-content">
      <li class="Grid-item Grid-item--projects full is-hidden d-visibility">
        <img src="images/colegiales1.png" alt="" class="Projects-landing">
      </li>
      <li class="Grid-item Grid-item--projects full visibility d-is-hidden">
        <img src="images/colegiales_andalucia.png" alt="" class="Projects-landing align-center-block">
      </li>
    </ul>
  </div>
</div>

