<% content_for :title do %>
  <title>Gema de Rus - Frontend Devoloper Freelance</title>
<% end %>

<div class="Content-project">
  <div class="Container">
    <div class="Projects-intro">
      <h2>
        <a href="">Ducktypen</a>
      </h2>
      <p class="mb3">Entertainment responsive site for Disney. The agency was <a href="http://www.elementsinteractive.es">Elements Interactive</a>. In this project I worked together with <a href="http://www.nobuti.com/">Buti.</a></p>
      <p class="mb3">My job was html, css3, sass and optimizing the performance using the latest technology.</p>
    </div>
    <ul class="Grid-content">
      <li class="Grid-item Grid-item--projects full is-hidden d-visibility">
        <img src="images/ducktypen-home.jpg" alt="" class="Projects-landing">
      </li>
      <li class="Grid-item Grid-item--projects full visibility d-is-hidden">
        <img src="images/ducktypen_r.jpg" alt="" class="Projects-landing align-center-block">
      </li>
      <li class="Grid-item Grid-item--projects full d-two-third">
        <img src="images/ducktypen_pills4.png" alt="" class="Projects-landing">
      </li>
      <li class="Grid-item Grid-item--projects full d-one-third">
        <img src="images/ducktypen_form1.png" alt="" class="Projects-landing">
      </li>
    </ul>
  </div>
</div>

