<% content_for :title do %>
  <title>Gema de Rus - Frontend Devoloper Freelance</title>
<% end %>

<div class="Content-project">
  <div class="Container">
    <div class="Projects-intro">
      <h2>Europa sin refugio</h2>
      <p class="mb3">The project was awarded the first prize team project developed for the Madrid Data Journalism Work Group.</p>
      
      <p>The website was designed and developed using HTML5Up Template and my work on this project was to fix the responsive state in collaborating with <a href="http://visualizados.com/">Beatriz Martínez</a>.</p>
    </div>
    <ul class="Grid-content">
      <li class="Grid-item Grid-item--projects full is-hidden d-visibility">
        <img src="images/europasinrefugio_mobile.png" alt="" class="Projects-landing">
      </li>
    </ul>
  </div>
</div>
