<% content_for :title do %>
  <title>Gema de Rus - Frontend Devoloper Freelance</title>
<% end %>

<div class="Content-project">
  <div class="Container">
    <div class="Projects-intro">
      <h2>Herramienta Comunidades</h2>
      <p class="mb3">This is a CMS to assign tasks to workgroups.</p>
      <p>In this project, my works has been customizing the old screens, make responsive and creating new screens using HTML5, Sass, Bootstrap and Jquery. It was build with ruby enviroment.</p>
    </div>
    <ul class="Grid-content">
      <li class="Grid-item Grid-item--projects full is-hidden d-visibility">
        <img src="images/herramienta-comunidadesD.png" alt="" class="Projects-landing">
      </li>
      <li class="Grid-item Grid-item--projects full visibility d-is-hidden">
        <img src="images/herramienta-comunidadesM.png" alt="" class="Projects-landing align-center-block">
      </li>
      <li class="Grid-item Grid-item--projects full d-one-half">
        <img src="images/herramienta-comunidadesOp.png" alt="" class="Projects-landing">
      </li>
      <li class="Grid-item Grid-item--projects full d-one-half">
        <img src="images/herramienta-comunidadesEm.png" alt="" class="Projects-landing align-center-block">
      </li>
    </ul>
  </div>
</div>

