<% content_for :title do %>
  <title>Gema de Rus - Frontend Devoloper Freelance</title>
<% end %>

<div class="Content-project">
  <div class="Container">
    <div class="Projects-intro">
      <h2>
        <a href="http://www.vuelveabrillar.com/hola2016/gana-una-maleta">Hola 2016</a>
      </h2>
      <p class="mb3">Group project developed together with <a href="http://www.nicemondays.com/">Nice Mondays</a> and <a href="http://www.nobuti.com/">Buti</a> for Tourism of the Canary Islands. It was an advertising site to say hello to the new year together an event in the beach and a promotional contest with a gift.</p>
      <p>Mi work in this project was create resposinve website with HTML5 and Sass, optimizing the performance using the latest technology.</p>
    </div>
    <ul class="Grid-content">
      <li class="Grid-item Grid-item--projects full is-hidden d-visibility">
        <img src="images/hola20161.jpg" alt="" class="Projects-landing">
      </li>
      <li class="Grid-item Grid-item--projects full visibility d-is-hidden">
        <img src="images/hola2016_r.jpg" alt="" class="Projects-landing align-center-block">
      </li>
      <li class="Grid-item Grid-item--projects full d-one-half">
        <img src="images/hola2016_maleta.jpg" alt="" class="Projects-landing">
      </li>
      <li class="Grid-item Grid-item--projects full d-one-half">
        <img src="images/hola2016_evento.jpg" alt="" class="Projects-landing align-center-block">
      </li>
    </ul>
  </div>
</div>

