<% content_for :title do %>
  <title>Gema de Rus - Frontend</title>
<% end %>

<section>
<div class="container">
  <img class="avatar" src="http://lorempixel.com/200/200/"></div>
  <div class="content">
    <p>Hi, I’m Gema. I’m a front-end web developer from Málaga, Spain. I’m fluent in HTML, CSS, and English, and obsessive about with learning. I work remotely from Málaga.
    You can follow me on CodePen, GitHub and Twitter or email me at hi@gemaderus.com.
    </p>
  </div>
  <div class="icons">
    <span class="icon-uniE60B"></span>
    <span class="icon-twitter"></span>
    <span class="icon-github"></span>
  </div>
  <div class="sign">Copyright</div>
</div>
</section>