<% content_for :title do %>
  <title>Gema de Rus - Frontend</title>
<% end %>

<div class="container">
<section>
  <img class="avatar" src="images/profile.jpg">

  <div class="content">
    
    <p class="lead">Hi, I'm Gema. </p>

    <p>I'm a front-end developer from Málaga, Spain. I'm fluent in HTML, CSS, and English, and obsessive about standards. I work remote from Málaga and I am available for medium size projects, and develop with passionate product teams across the globe. You can <a href="mailto:hi@gemaderus.com">hire me</a>.</p>

    <p>Follow me on <a href="http://codepen.io/gemaderus">CodePen</a>, <a href="https://github.com/gemaderus">GitHub</a> and <a href="https://twitter.com/gemaderus">Twitter</a> or contact me at <a href="mailto:hi@gemaderus.com">hi@gemaderus.com</a>.</p>
    
  </div>
  <ul class="icons">
    <li><a href="http://codepen.io/gemaderus" class="icon-uniE60B social"></a></li>
    <li><a href="https://twitter.com/gemaderus" class="icon-twitter social"></a></li>
    <li><a href="https://github.com/gemaderus" class="icon-github social"></a></li>
  </ul>
  <div class="copy">&copy; gemaderus 2014</div>
</section>
</div>