<% content_for :title do %>
  <title>Gema de Rus - Frontend</title>
<% end %>

<section>
  <img class="avatar" src="http://lorempixel.com/200/200/">

  <div class="content">
    
    <p class="lead">Hi, I'm Gema. </p>

    <p>I'm a front-end developer from Málaga, Spain. I'm fluent in HTML, CSS, and English, and obsessive about with learning. I work remotely from Málaga.
    You can follow me on <a href="http://codepen.io/gemaderus">CodePen</a>, <a href="https://github.com/gemaderus">GitHub</a> and <a href="https://twitter.com/gemaderus">Twitter</a> or email me at <a href="mailto:hi@gemaderus.com">hi@gemaderus.com</a>.
    </p>
  </div>
  <ul class="icons">
    <li class="icon-uniE60B"></li>
    <li class="icon-twitter"></li>
    <li class="icon-github"></li>
  </ul>
  <div class="copy">&copy; 2014</div>
</section>