<% content_for :title do %>
  <title>Gema de Rus - Consultoría en marketing online y ecommerce</title>
<% end %>
<div class="container wide">
<section class="resume">

  <div class="box">
    <div class="row">
      <div class="resume-header">
        <div class="brand-resume">
          <div class="me-brand-resume">
            <strong>Gema</strong> de Rus Carnero
          </div>
        </div>
        <div class="links-resume">
          <ul class="menu">
            <li><a href="mailto: hi@gemaderus.com">hi@gemaderus.com</a></li>
            <li><a href="tel:+34 647715220">(+34) 647715220</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      
      <div class="column">
        <div class="block">
          <p>I'm a front-end developer. I'm fluent in HTML, CSS, and English, and obsessive about standards. I work remote from Málaga and I am available for medium size projects, and develop with passionate product teams across the globe.</p>
        </div>

        <div class="block">
          <h4>Seeking</h4>
          <p>Join a team to work as front-end. I would like to learn new things every day. Feeling happy with my job, enjoy.</p>
        </div>

        <div class="block">
          <h4>My skills</h4>
          <p>Thinking in code, front programming, styles, optimization. Resourceful, outgoing, persistent, responsible and with ability to work in a team.</p>
        </div>

        <div class="block">
          <h4>I'm good at</h4>
          <p>HTML, Css, Sass, Git. I'm on my way to learn Javascript.</p>
        </div>
        <div class="block">
          <h4>I have studied</h4>
          <p>Business Degree at Malaga University</p>
          <p>Digital Business Master at ESIC</p>
        </div>

      </div>

      <div class="column last">
        <div class="block">
          <h4>Front-end</h4>
          <p>Soundset<br> 2014</p>
          <p>Responsive, mobile first, built on Rails, HTML5, and Sass. I developed a clear CSS architecture and framework, to allow the product to be scaled over time and working alongside backend engineers to build the UI into a working product.</p>
        </div>
        <div class="block">
          <h4>Marketing and Communication</h4>
          <p>Jomly.org<br> 2014</p>
          <p>Founder, communication, social media, content management, customer service.</p>
        </div>

        <div class="block">
          <h4>Ecommerce Manager</h4>
          <p>Zerobolsas<br> 2011-2013</p>
          <p>My entrepreneurial spirit led me to venture into Zerobolsas SL as Ecommerce Manager of the online store www.ponlepicante.com, performing management functions of social networks in blog, content strategy, developing SEM campaigns, order management, negotiation with suppliers, management of the company.</p>
        </div>
        <div class="block">
          <h4>Administration Management</h4>
          <p>Junta de Andalucía<br> 2008-2011</p>
          <p>Accounting, customer service, administration and file management.</p>
        </div>
        <div class="block">
          <h4>Account Management</h4>
          <p>Ingenia Gen8020<br> 2006-2007</p>
          <p>Close general direction, developing work in the department of marketing and purchasing.</p>
        </div>
        <div class="block">
          <h4>Marketing</h4>
          <p>Ingenia<br> 2003-2005</p>
          <p>Client management, participation in projects of the department of marketing, responsible for purchasing and negotiating with suppliers. Billing and invoices were part of my job.</p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>