<% content_for :title do %>
  <title>Gema de Rus - Consultoría en marketing online y ecommerce</title>
<% end %>
<div class="container wide">
<section class="resume">

  <div class="box">
    <div class="row">
      <div class="resume-header">
        <div class="brand-resume">
          <div class="me-brand-resume">
            <strong>Gema</strong> de Rus Carnero
          </div>
        </div>
        <div class="links-resume">
          <ul class="menu">
            <li><a href="mailto: hi@gemaderus.com">hi@gemaderus.com</a></li>
            <li><a href="tel:+34 647715220">(+34) 647715220</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      
      <div class="column">
        <div class="block">
          <p>I'm a front-end developer. I'm fluent in HTML, CSS, and English, and obsessive about standards. I work remote from Málaga and I am available for medium size projects, and develop with passionate product teams across the globe.</p>
        </div>

        <div class="block">
          <h4>Seeking</h4>
          <p>Join a team to work as front-end. I would like to learn new things every day. Feeling happy with my job, enjoy.</p>
        </div>

        <div class="block">
          <h4>My skills</h4>
          <p>Thinking in code, front programming, styles, optimization. Resourceful, outgoing, persistent, responsible and with ability to work in a team.</p>
        </div>

        <div class="block">
          <h4>I'm good at</h4>
          <p>HTML, Css, Sass, Git. I'm on my way to learn Javascript and D3</p>
        </div>
        <div class="block">
          <h4>I have studied</h4>
          <p>Business Degree at Malaga University</p>
          <p>Digital Business Master at ESIC</p>
        </div>

      </div>
      <div class="column last">
        <h4>Last works</h4>
        <div class="block">
          <h4>Frontend</h4>
          <p>Populate S.L.<br> 2016</p>
          <p>Minisite services for Be Mate. Responsive, mobile first website, optimizing performance using latest technology, built on HTML5, Sass and Javascript.</p>
          <a href="https://atyourservice.bemate.com/">BeMate Services</a>
        </div>
        <div class="block">
          <h4>Frontend</h4>
          <p>Nice Interactive S.L.<br> 2015</p>
          <p>Advertising site for Tourism of the Canary Islands. Design and create responsive, mobile first website, optimizing performance using latest technology, built on HTML5 and Sass.</p> <a href="http://www.vuelveabrillar.com/hola2016/gana-una-maleta">Hola2016</a>
        </div>
        <div class="block">
          <h4>Frontend</h4>
          <p>Bemate<br> 2015</p>
          <p>Proof of concept.</p>
        </div>
        <div class="block">
          <h4>Frontend</h4>
          <p><a href="http://colegialesandalucia.com/">Brosmar</a><br> 2015</p>
          <p>Design and create responsive, mobile first website, optimizing performance using latest technology, built on HTML5 and Sass.</p>
        </div>
        <div class="block">
          <h4>Frontend</h4>
          <p>Kunstmaan<br> 2015</p>
          <p>Web development using the last technologies and following the best patterns in client side. Always in interaction with the design team in order to get the best user experience.</p>
        </div>
        <div class="block">
          <h4>Frontend</h4>
          <p><a href="https://www.ducktypen.nl/">Ducktypen</a><br> 2014</p>
          <p>Responsive, mobile first, built on HTML5 and Sass.</p>
        </div>
        <div class="block">
          <h4>Frontend</h4>
          <p>Soundset<br> 2014</p>
          <p>Responsive, mobile first, built on Rails, HTML5, and Sass. I developed a clear CSS architecture and framework, to allow the product to be scaled over time and working alongside backend engineers to build the UI into a working product.</p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>