<% content_for :title do %>
  <title>Gema de Rus - Frontend Devoloper Freelance</title>
<% end %>
<div class="Resume">
  <div class="Container Container--small">
    <div class="Intro--resume">
      <div class="Intro-content">
        <h2>Gema de Rus Carnero</h2>
        <a href="mailto: hi@gemaderus.com">hi@gemaderus.com</a>
      </div>
    </div>

    <div class="Resume-container--inner has-border">
      <section class="Resume-info">

        <div class="Block-one">

          <div class="Blocker Blocker--intro">
            <p>I'm a front-end developer. I'm fluent in HTML, CSS, and English, and obsessive about standards. I work remote from Málaga and I am available for medium size projects, and develop with passionate product teams across the globe.</p>
          </div>
      
          <div class="Blocker">
            <h4>Seeking</h4>
            <p>Join a team to work as front-end. I would like to learn new things every day. Feeling happy with my job, enjoy.</p>
          </div>

          <div class="Blocker">
            <h4>My skills</h4>
            <p>Thinking in code, front programming, styles, optimization. Resourceful, outgoing, persistent, responsible and with ability to work in a team.</p>
          </div>

          <div class="Blocker">
            <h4>I'm good at</h4>
            <p>HTML, Css, Sass, Git. I'm on my way to learn Javascript and D3</p>
          </div>

          <div class="Blocker Blocker--last">
            <h4>I have studied</h4>
            <p>Business Degree at Malaga University</p>
            <p>Digital Business Master at ESIC</p>
          </div>
        </div>
      </section>
    </div>
    
    <div class="Resume-container--inner">
      <section class="Resume-jobs">
        <div class="Block-two">
          <div class="Blocker--intro"> 
            <h3>Last works</h4>
          </div>
          <div class="Blocker Blocker--left">
            <h4>Herramienta Comunidades</h4>
            <span>2016</span>
            <p class="mb1">Customizing the CMS'S old screens, make responsive and creating new screens using HTML5, Sass, Bootstrap and Jquery.</p>
          </div>
          <div class="Blocker Blocker--right">
            <h4>Europa sin refugio</h4>
            <span>2016</span>
            <p class="mb1">Mobile state.</p>
            <a href="http://europasinrefugio.org/index.html" class="Project-link">View the project
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" viewBox="0 0 16 16" class="icon-arrow" >
                <path d="M9.707 13.707l5-5c0.391-0.39 0.391-1.024 0-1.414l-5-5c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414l3.293 3.293h-9.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h9.586l-3.293 3.293c-0.195 0.195-0.293 0.451-0.293 0.707s0.098 0.512 0.293 0.707c0.391 0.391 1.024 0.391 1.414 0z"></path>
              </svg>
            </a>
          </div>

          <div class="Blocker Blocker--left">
            <h4>BeMate Services</h4>
            <span>2016</span>
            <p class="mb1">Minisite services for Be Mate. Responsive, mobile first website, optimizing performance using latest technology, built on HTML5, Sass and Javascript.</p>
            <a href="https://atyourservice.bemate.com/" class="Project-link">View the project
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" viewBox="0 0 16 16" class="icon-arrow">
                <path d="M9.707 13.707l5-5c0.391-0.39 0.391-1.024 0-1.414l-5-5c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414l3.293 3.293h-9.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h9.586l-3.293 3.293c-0.195 0.195-0.293 0.451-0.293 0.707s0.098 0.512 0.293 0.707c0.391 0.391 1.024 0.391 1.414 0z"></path>
              </svg>
            </a>
          </div>
          
          <div class="Blocker Blocker--right">
            <h4>Hola2016</h4>
            <span>2015</span>
            <p class="mb1">Advertising site for Tourism of the Canary Islands. Create responsive, mobile first website, optimizing performance using latest technology, built on HTML5 and Sass.</p>
            <a href="http://www.vuelveabrillar.com/hola2016/gana-una-maleta" class="Project-link">View the project
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" viewBox="0 0 16 16" class="icon-arrow">
                <path d="M9.707 13.707l5-5c0.391-0.39 0.391-1.024 0-1.414l-5-5c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414l3.293 3.293h-9.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h9.586l-3.293 3.293c-0.195 0.195-0.293 0.451-0.293 0.707s0.098 0.512 0.293 0.707c0.391 0.391 1.024 0.391 1.414 0z"></path>
              </svg>
            </a>
          </div>
          
          <div class="Blocker Blocker--left">
            <h4>Bemate</h4>
            <span>2015</span>
            <p>Proof of concept.</p>
          </div>

          <div class="Blocker Blocker--right">
            <h4>Brosmar</h4>
            <span>2015</span>
            <p class="mb1">Design and create responsive, mobile first website, optimizing performance using latest technology, built on HTML5 and Sass.</p>
            <a href="http://colegialesandalucia.com/" class="Project-link">View the project
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" viewBox="0 0 16 16" class="icon-arrow">
                <path d="M9.707 13.707l5-5c0.391-0.39 0.391-1.024 0-1.414l-5-5c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414l3.293 3.293h-9.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h9.586l-3.293 3.293c-0.195 0.195-0.293 0.451-0.293 0.707s0.098 0.512 0.293 0.707c0.391 0.391 1.024 0.391 1.414 0z"></path>
              </svg>
            </a>
          </div>

          <div class="Blocker Blocker--left">
            <h4>Kunstmaan</h4>
            <span>2015</span>
            <p>Web development using the last technologies and following the best patterns in client side. Always in interaction with the design team in order to get the best user experience.</p>
          </div>

          <div class="Blocker Blocker--right">
            <h4>Soundset</h4>
            <span>2014</span>
            <p>Responsive, mobile first, built on Rails, HTML5, and Sass. I developed a clear CSS architecture and framework, to allow the product to be scaled over time and working alongside backend engineers to build the UI into a working product.</p>
          </div>

          <div class="Blocker Blocker--left Blocker--last">
            <h4>Ducktypen</h4>
            <span>2014</span>
            <p class="mb1">Responsive, mobile first, built on HTML5 and Sass.</p>
            <a href="https://www.ducktypen.nl/" class="Project-link">View the project
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" viewBox="0 0 16 16" class="icon-arrow">
                <path d="M9.707 13.707l5-5c0.391-0.39 0.391-1.024 0-1.414l-5-5c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414l3.293 3.293h-9.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h9.586l-3.293 3.293c-0.195 0.195-0.293 0.451-0.293 0.707s0.098 0.512 0.293 0.707c0.391 0.391 1.024 0.391 1.414 0z"></path>
              </svg>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>