* {
  @include box-sizing(border-box);
  margin-top: 0;
}

html, body {
  line-height: 1.5;
}

body {
  background-color: #F9FBFA;
  color: #444;
  font-family: "adelle-sans",sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #E93604;

  &:hover {
    text-decoration: underline;

  }
}

.container {
  margin: auto;
  max-width: 800px;
  padding: 50px 20px;
}

.container.wide {
  max-width: 960px;
}

.avatar {
  @include border-radius(50%);
  display: block;
  height: 100px;
  margin: auto;
  width: 100px;
}

.content {
  font-size: 18px;
  margin: auto;
  margin-bottom: 45px;
}

.lead {
  font-family: "adelle-sans",sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

.icon-uniE60B, .icon-twitter, .icon-github {
  font-size: 30px;
}

.icons, .avatar, .lead {
  margin-bottom: 30px;
}

.icons {
  list-style: none;
  margin: 0;
  padding: 0;
  
  &:before {
    border: 1px solid #999;
    content: '';
    display: block;
    margin: auto;
    width: 38px;
    margin-bottom: 45px;
  }

  > li {
      margin-right: 1em;
      display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }
}

.copy, .icons, .lead {
  text-align: center;
}

.copy {
  color: #999;
  font-size: 16px;
}

.social {
  color: #444;
  
  &:hover {
    color: #E93604;
    text-decoration: none;
  }
}

.button {
  border-radius: 4px;
/* Rectangle 6: */
  background: #E93604;
  -moz-box-shadow:    0px 3px 0px 0px #8F534C;
  box-shadow:         0px 3px 0px 0px #8F534C;
  color: white;
  outline: none;
  font-size: 24px;
  padding: 15px 60px;
  border: none;
  display: inline-block;

  &:hover {
    text-decoration: none;
    background-color: #CF3000;
  }
}

.resume-link {
  text-align: center;
  margin-bottom: 48px;
}

@media all and (min-width: 321px) {
  .avatar {
    width: 200px;
    height: 200px;
  }

  .content {
    font-size: 24px;
  }

  .lead {
    font-size: 60px;
  }

  .copy {
    font-size: 20px;
  }
}

 
