
.resume {
  padding: 10px;

  .column {
    &:after {
      content: '';
      display: block;
      height: 10px;
      width: 100px;
    }

    &.last {
      &:after {
        display: none;
      }
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.me-brand-resume {
  color: #E93604;
  line-height: 1;
  font-size: 30px;
  padding-bottom: 20px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row, .block, .last, .resume-header {
  margin-bottom: 30px;
}

.last:before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #444;
  margin-bottom: 30px;
}

.row {
  &:after, &:before {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@media all and (min-width: 768px) {
  .column {
    float: left;
    margin-right: 6%;
    width: 47%;
  }

  .last {
    margin-right: 0;
  }

  .last:before {
    display: none;
  }
}



