.resume {
  padding: 10px;

  .column {
    &:after {
      content: '';
      display: block;
      height: 10px;
      width: 100px;
    }

    &.last {
      &:after {
        display: none;
      }
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.me-brand-resume {
  color: #E93604;
  line-height: 1;
  font-size: 30px;
  padding-bottom: 20px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row, .block, .last, .resume-header {
  margin-bottom: 30px;
}

