<footer class="Footer">
  <div class="Container">
    <div class="Footer-content">
      <ul class="Footer-social">
        <li>
          <a href="http://codepen.io/gemaderus/">
            <svg width="31px" height="32px" viewBox="0 0 31 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Home" transform="translate(-575.000000, -2173.000000)" fill="#FFFFFF">
                      <g id="social" transform="translate(575.000000, 2173.000000)">
                          <path d="M16.464,0.41480492 C15.61,-0.15019508 14.496,-0.13719508 13.655,0.44880492 L1.071,9.21380492 C0.4,9.68180492 0,10.4468049 0,11.2658049 L0,20.7098049 C0,21.5498049 0.421,22.3328049 1.122,22.7958049 L13.912,31.2508049 C14.748,31.8038049 15.834,31.8038049 16.67,31.2508049 L29.714,22.6328049 C30.414,22.1698049 30.836,21.3868049 30.836,20.5468049 L30.836,11.2678049 C30.836,10.4288049 30.415,9.64580492 29.715,9.18280492 L16.464,0.41480492 L16.464,0.41480492 Z M26.207,10.6448049 L21.386,13.8818049 L16.865,10.5938049 L16.836,4.12680492 L26.207,10.6448049 L26.207,10.6448049 Z M13.565,4.13280492 L13.565,10.4618049 L8.932,13.7018049 L4.311,10.6028049 L13.565,4.13280492 L13.565,4.13280492 Z M3.044,13.7218049 L6.035,15.7258049 L3.044,17.8188049 L3.044,13.7218049 L3.044,13.7218049 Z M13.644,27.2148049 L4.313,20.9568049 L8.974,17.6988049 L13.644,20.8318049 L13.644,27.2148049 L13.644,27.2148049 Z M11.872,15.6738049 L14.893,13.5608049 L18.412,15.8738049 L15.293,17.9688049 L11.872,15.6738049 L11.872,15.6738049 Z M16.94,27.2148049 L16.94,20.8298049 L21.403,17.8388049 L26.208,20.9978049 L16.94,27.2148049 L16.94,27.2148049 Z M27.54,17.9268049 L24.372,15.8448049 L27.54,13.7198049 L27.54,17.9268049 L27.54,17.9268049 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://github.com/gemaderus">
            <svg width="30px" height="25px" viewBox="0 0 30 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Home" transform="translate(-661.000000, -2176.000000)" fill="#FFFFFF">
                      <g id="social" transform="translate(575.000000, 2173.000000)">
                          <path d="M100.57,15.156875 C100.55625,15.156875 100.540625,15.15625 100.52625,15.155625 C100.51125,15.15625 100.495625,15.156875 100.481875,15.156875 C96.75875,15.156875 93.478125,14.214375 91.539375,15.994375 C90.3775,17.0625 89.888125,18.349375 89.888125,19.735 C89.888125,25.523125 94.525625,26.23375 100.48125,26.23375 L100.57,26.23375 C106.525625,26.23375 111.163125,25.5225 111.163125,19.735 C111.163125,18.34875 110.67375,17.0625 109.511875,15.994375 C107.573125,14.214375 104.293125,15.156875 100.57,15.156875 L100.57,15.156875 Z M95.50625,23.06625 C94.373125,23.06625 93.454375,21.79375 93.454375,20.224375 C93.454375,18.655 94.373125,17.383125 95.50625,17.383125 C96.639375,17.383125 97.559375,18.655 97.559375,20.224375 C97.559375,21.79375 96.639375,23.06625 95.50625,23.06625 L95.50625,23.06625 Z M105.545625,23.06625 C104.411875,23.06625 103.4925,21.79375 103.4925,20.224375 C103.4925,18.655 104.411875,17.383125 105.545625,17.383125 C106.678125,17.383125 107.5975,18.655 107.5975,20.224375 C107.5975,21.79375 106.67875,23.06625 105.545625,23.06625 L105.545625,23.06625 Z M103.2625,27.62875 C102.725,27.62875 101.65625,27.63 100.52625,27.63125 C99.395625,27.63 98.32625,27.62875 97.789375,27.62875 C95.4125,27.62875 86,27.446875 86,16.100625 C86,13.49 86.895,11.58 88.359375,9.989375 C88.125625,9.4125 88.11375,6.13625 89.360625,3 C89.360625,3 92.220625,3.31375 96.548125,6.283125 C97.455,6.0325 98.990625,5.9075 100.52625,5.9075 C102.060625,5.9075 103.59625,6.031875 104.504375,6.283125 C108.83125,3.31375 111.690625,3 111.690625,3 C112.9375,6.13625 112.92625,9.4125 112.6925,9.989375 C114.1575,11.58 115.0525,13.490625 115.0525,16.100625 C115.0525,27.446875 105.639375,27.62875 103.2625,27.62875 L103.2625,27.62875 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </svg>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/gemaderus">
            <svg width="34px" height="28px" viewBox="0 0 34 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home" transform="translate(-746.000000, -2175.000000)" fill="#FFFFFF">
                        <g id="social" transform="translate(575.000000, 2173.000000)">
                            <path d="M201.211472,8.80818497 C201.224764,9.10545396 201.232015,9.40513977 201.232015,9.70482559 C201.232015,18.8295336 194.288488,29.3475389 181.584468,29.3475389 C177.684927,29.3475389 174.054862,28.2080077 171,26.2479658 C171.54016,26.3120116 172.089986,26.3446387 172.647064,26.3446387 C175.883187,26.3446387 178.859502,25.2401515 181.223153,23.3888665 C178.202127,23.3332796 175.651172,21.3369854 174.772658,18.5926851 C175.193185,18.6724402 175.627004,18.7171514 176.070491,18.7171514 C176.700073,18.7171514 177.311528,18.6349795 177.890357,18.4766777 C174.731572,17.8434706 172.352211,15.0532506 172.352211,11.7059534 C172.352211,11.6769516 172.352211,11.6467413 172.35342,11.6189479 C173.283896,12.1349392 174.348506,12.4467091 175.479578,12.481753 C173.628293,11.245549 172.409007,9.13083058 172.409007,6.7357609 C172.409007,5.46934665 172.74857,4.28268751 173.343108,3.26278901 C176.747201,7.44147265 181.837026,10.1893982 187.574559,10.4794167 C187.456135,9.97309273 187.396923,9.44743414 187.396923,8.90485781 C187.396923,5.09232257 190.488037,2 194.300572,2 C196.287199,2 198.079272,2.83863691 199.340852,4.17997261 C200.915411,3.87061951 202.389672,3.29783292 203.727383,2.50390719 C203.207766,4.11713526 202.116571,5.46934665 200.687022,6.32490131 C202.085153,6.15814066 203.419238,5.78836703 204.653025,5.23854024 C203.732216,6.62096189 202.561266,7.83783131 201.211472,8.80818497 L201.211472,8.80818497 Z" id="Shape"></path>
                        </g>
                    </g>
                </g>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://es.linkedin.com/in/gemaderus">
            <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home" transform="translate(-835.000000, -2174.000000)" fill="#FFFFFF">
                        <g id="social" transform="translate(575.000000, 2173.000000)">
                            <path d="M287,1 L263,1 C261.35,1 260,2.35 260,4 L260,28 C260,29.65 261.35,31 263,31 L287,31 C288.65,31 290,29.65 290,28 L290,4 C290,2.35 288.65,1 287,1 L287,1 Z M269,26.5 L264.5,26.5 L264.5,13 L269,13 L269,26.5 L269,26.5 Z M266.75,10.45 C265.25,10.45 264.05,9.25 264.05,7.75 C264.05,6.25 265.25,5.05 266.75,5.05 C268.25,5.05 269.45,6.25 269.45,7.75 C269.45,9.25 268.25,10.45 266.75,10.45 L266.75,10.45 Z M285.5,26.5 L281,26.5 L281,18.55 C281,17.3500588 279.95,16.3 278.75,16.3 C277.55,16.3 276.5,17.3500588 276.5,18.55 L276.5,26.5 L272,26.5 L272,13 L276.5,13 L276.5,14.8 C277.25,13.6 278.9,12.7 280.25,12.7 C283.1,12.7 285.5,15.1 285.5,17.95 L285.5,26.5 L285.5,26.5 Z" id="Shape"></path>
                        </g>
                    </g>
                </g>
            </svg>
          </a>
        </li>
      </ul>

      <span>Thanks for stopping by, I really appreciate it.</span>
    </div>
  </div>
</footer>
