<header class="Header" id="header">
  <div class="Container">
    <div class="Header-content">
      <div class="Main-logo">
        <a href="/" class="Logo">
          <h1>Gema<span>deRus</span></h1>
        </a>
        <a href="mailto:hi@gemaderus.com">hi@gemaderus.com</a>
      </div>
      <nav class="Navigation">
        <ul class="Navigation-items">
          <li>
            <a href="/resume" class="Navigation-link">Resume</a>
          </li>
          <li>
            <a href="/about" class="Navigation-link">About</a>
          </li>
          <li>
            <a href="mailto:hi@gemaderus.com" class="Navigation-link">Contact</a>
          </li>
        </ul>
      </nav>
      <div>
      <button id="button-open" class="Button Button--open Button--mobile" id="button-open">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 24 24">
          <path d="M3 5h18q0.414 0 0.707 0.293t0.293 0.707-0.293 0.707-0.707 0.293h-18q-0.414 0-0.707-0.293t-0.293-0.707 0.293-0.707 0.707-0.293zM3 17h18q0.414 0 0.707 0.293t0.293 0.707-0.293 0.707-0.707 0.293h-18q-0.414 0-0.707-0.293t-0.293-0.707 0.293-0.707 0.707-0.293zM3 11h18q0.414 0 0.707 0.293t0.293 0.707-0.293 0.707-0.707 0.293h-18q-0.414 0-0.707-0.293t-0.293-0.707 0.293-0.707 0.707-0.293z"></path>
        </svg>
      </button>
      <button id="button-close" class="Button Button--close Button--mobile" id="button-close">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 24 24">
        <path d="M19 4q0.43 0 0.715 0.285t0.285 0.715q0 0.422-0.289 0.711l-6.297 6.289 6.297 6.289q0.289 0.289 0.289 0.711 0 0.43-0.285 0.715t-0.715 0.285q-0.422 0-0.711-0.289l-6.289-6.297-6.289 6.297q-0.289 0.289-0.711 0.289-0.43 0-0.715-0.285t-0.285-0.715q0-0.422 0.289-0.711l6.297-6.289-6.297-6.289q-0.289-0.289-0.289-0.711 0-0.43 0.285-0.715t0.715-0.285q0.422 0 0.711 0.289l6.289 6.297 6.289-6.297q0.289-0.289 0.711-0.289z"></path>
        </svg>
      </button>
    </div>
  </div>
</header> 