.Header {
  background-color: $main-color; 
  position: relative;

  @media screen and (min-width: $desktop) {
    border-bottom: 0;
  }

  @media print {
    display: none;
  }
}

.Main-logo {
  text-align: center;

  a {
    color: $white;
    font-size: 20px;
  }
}

.Logo {
  h1 {
    color: $white;
    
    span {
      font-weight: 400;
    }
  }
  
  &:hover {
    text-decoration: none;
  }
} 

.Header-content {
  display: flex;
  justify-content: space-between;


}

.Button--mobile {
  svg {
    fill: $white;
    vertical-align: middle;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.Button--close {
  display: none;
}

.is-open {

  .Navigation, .Button--close {
    display: flex;
  }

  .Button--close {
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
  
  .Button--open {
    display: none;
  }
}
